*{
    margin:0px; padding:0px;
}
body{
    padding:0px; margin:0px; height:100%;
    font-family: arial; 
 
}
body,html{
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                 not supported by any browser */
}




ul, a{
    text-decoration: none;
    list-style-type: none;
    color:inherit;
}

#menu{
   display:inline-block;
    width:300px;
   overflow:hidden;
    position:relative;    font-family:arial;
}
#menu #titolo{
  background-color:#A9A19B;
    font-size:35px;
    text-align:center;
    color:white;
    padding-top: 20px;padding-bottom: 20px;
  margin: 0px;cursor:default;

}
#menu #titolo, .cat {
    width:100%; 
    

}
#sotto{
    margin-top:20px;
}
#menu .cat{text-align:left;
    margin-top:10px;margin-bottom:10px;
    padding:15px;
    color:black;
    font-size:22px;
    position:relative;
     width:100%; cursor:pointer;transition: background-color 0.5s;
}
#menu .cat:hover{
    background-color:#A9A19B;
}
#menu .subcat{
    background-color:#FAF8F7;
    position:relative;
    display:none;
     margin:0px; padding:10px
}
#menu #one{
    
    background-color:#E5E0D9;
}
#menu ul{margin:0px; padding:0px;}
#menu ul li{
    padding:10px;
    color: #4B4B4B;
    width:100%;
    text-align:left;
    font-size:18px; margin:0px; cursor:pointer;
    white-space: nowrap; 
}
#menu ul li:hover{
color:black;}




.margintop{
    margin-top:25px;
}

#altro{
   vertical-align: top;
    margin-top:-25px;
    width:78%;
    display:inline-block; white-space: normal;
}
#mostra{
    /*color:blue;*/
    width:465px;position:relative;
    display:inline-block;
      margin-left: 25px;
}

#mostra img{pointer-events: none;
    width:250px; height:250px;
    display:inline-block;margin:0px;
}
#mostra #title{
    color:white;cursor:default;
    background-color: #A9A19B;
    vertical-align: top; padding-top:20px; padding-bottom:20px;font-size:22px;width:100%; text-align:center;
}
#mostra p{
    display: inline-block;
}
#mostra #cont{
    height:250px;
    position:relative;
    display:inline-block;
    vertical-align:top;
    width:215px;
}
#mostra #dentro{
      display:block;
    padding-top:18.5%;
    padding-left:15px;
    width:93%;
    margin-top:10px;
      background-color: #A9A19B;
    white-space:normal;
}
#mostra .button{
    margin-top:30px;
    margin-bottom:10px;
    padding:20px;
    cursor:pointer;
    background-color: #E5E0D9;
    color:black;
    transition:background-color 0.5s;
}
#mostra .button:hover{
    background-color:#C4BCB5;
    color:#606060;
}


#footerofpage{
    clear:both;
    width:100%;
    position:relative;
    bottom:0px;
    background-color:#A9A19B;
    margin-top:50px;
    padding:15px;
    color:white;
}
#footerofpage table{
    width:100%;
    
}
























.flipped{ -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";}
.effects a{
    text-decoration: none;
    color:black;
}
.effects, .active{
    cursor:pointer;
    color:black;
    transition: color 0.5s;
    transition: background 0.5s;
    border-radius:2px;
    text-decoration:none;
    
}
.effects:hover{
    color:white;
    background-color:black;
}
.effects:hover > a{ color:white;}


.active{
color:white;
    background-color:black;
}
.active:hover{
    
    color:black;
    background-color:white;
}

#header{
    width:100%;
}

#header img{
    display:inline-block;
    width:300px;
    height:auto;
    padding-top:5px;
    padding-bottom:10px;
    cursor:pointer;
}
#header h3 {
    margin-top:25px;
    border-top-left-radius: 0px;
     border-top-right-radius: 0px;
    display:inline-block;
    float:right;
    padding:5px;
}

#header ul{
     padding-bottom:10px;
    list-style-type: none;
    vertical-align:bottom;
    display:inline-block;
    height: 50px;
}
#header ul li{
    
    display:inline-block;
    height:100%;
   
    padding-left: 10px;
    padding-right:10px;
    
}
#header ul li a{
    line-height:50px;
    height:100%;
}



.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#contenuto{ 
    margin-top:30px;
    position:relative;white-space: nowrap;
}










#search{
  float:right;vertical-align: top; margin-top:35px; margin-right:15px;
    border-top-left-radius:10px; border-bottom-left-radius:10px;
    background-color:white;
    border:1px solid lightgray;
    width:180px; height:20px;
    overflow:hidden;
    
    white-space:nowrap;
}
#searchtxt{
    color:dimgray;
    margin-left:5px;
    border: 0px;
    height:100%;
    width:155px;
    display:inline-block;
}
#searchbtn{
    margin-top:-20px;
    float:right;
    width:22px;
    height:100%;
    text-align:center;
    background-color: #E5E0D9;
   
    color:white;
    
}
#searchbtn:hover{
    cursor:pointer;
    background-color:#A9A19B;
}
#s{
    margin-top:10px;
}


#ss{
    margin-top:20px;
    
}



.r1{
    margin-top:40px;}
.riga{
    
    display:block;
    height:150px;
    
    border:1px solid #A9A19B;
    background-color: #E5E0D9;
    transition: border-color 0.5s;
    transition: box-shadow 0.3s;
    border-radius:3px;
}
.riga:hover{
-webkit-box-shadow: 10px 10px 8px -4px rgba(0,0,0,0.15);
-moz-box-shadow: 10px 10px 8px -4px rgba(0,0,0,0.15);
box-shadow: 10px 10px 8px -4px rgba(0,0,0,0.15);
     border:1px solid #615043;
}
.colonna h1{
    border:1px solid black;
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
    border-radius:2px;
}
.colonna{
    border-radius:5px;
    display:inline-block;
}
.colonna:hover{
    cursor:pointer;
}
.img{
    float:left; 
    height:150px;
}
.img img{
    height:100%;
}
.textnexttoimg{
    float:right;
    text-align:center;
}
.textnexttoimg h3{
    padding:10px;
    width:150px;
    border-bottom:1px solid #A9A19B;
}
.textnexttoimg p{
    padding-top:10px;
}
#footer h3{
    background-color:#E5E0D9;
    border:1px solid #A9A19B;
    color:black;
    text-align:center;
    padding:5px;
}
#footer{
    width:94%;
    height:250px;
    background-color:black;
    color:white;
    display:inline-block;
    margin-left:0px; margin-right:0px;
}
.block{
    height:230px;
    width:200px;
     background-color:#E5E0D9;
    border-left: 1px solid #A9A19B;
     border-right: 1px solid #A9A19B;
   white-space: normal;
    display:inline-block;
}

.block img{
    height:90%;
    width:100%;
}
.block p{height:10%;vertical-align:top;}
.block p:hover{
    font-weight: bolder;
}
.block a{
    color:black;
    text-decoration:none;
    text-align:center;
}
.tutti{width:100%; height:100%;
   text-align:center;
    overflow:hidden;
    background-color:black;
    white-space:nowrap;
    overflow-x:auto;
}
.nextprevstyle{
     background-color:#E5E0D9;
    border:1px solid #A9A19B;
    color:black;
    text-align:center;
    height:265px;
    width:2.5%;
    
    cursor:pointer;
}
.nextprevstyle:hover{
    background-color:#A9A19B;
}

.nextprevstyle p{
    line-height: 265px;
    font-size:200%;
}
#next{
    display:inline-block;
    vertical-align:top;
    
}
#previous{
     display:inline-block;
    vertical-align:top;
}

#racchiude{
    margin-top:25px;
    white-space:nowrap;
    width:100%;
    height:250px;
    color:white;
    display:inline-block;
    vertical-align: top;
    margin-left:0px; margin-right:0px;
}

































