a{text-decoration: none;
color:inherit;}
body,html{width:100%; height:100%;padding:0px; margin:0px;}
#header{
    width:100%;
    height:10%;
    background-color:#a61b1b;
    border-bottom:2px solid #801717;
    
    
}

#header img{
    height:85%; width:auto;
    padding-left:4px; padding-top:2px;
    padding-bottom:5px;
}
/* menu  btn */
.container {
    float:right;
   margin-top:10px;
    margin-right:10px;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}


#menupg{
    width:100%;
    background-color: white;
    position:relative;
    left:-104%;
    z-index:99;
    color: #801717;
    border-top: 2px solid #801717;
    border-bottom: 2px solid #801717;
    border-right: 2px solid #801717;
}
#hold{
    width:100%;
    position:absolute;
    top:54px;
    left:0px;
}
#menupg ul li img{
    visibility: hidden;
    width:27px;
    display:inline-block;
    vertical-align:top;
    margin-left:10px;
    margin-right:10px;
}

#menupg ul li{
  white-space:nowrap;
    border-top: 1px solid #801717;
  list-style-type: none;
    width:100%;
    text-align:center;
    padding:8px;
    font-size:20px
}
#menupg ul li:hover{
    
}
#menupg ul{
    overflow:hidden;
    
padding:0px;
    margin:0px;
}
big:hover #menupg{
    display:block;
}
/*menu end*/

#content{
    overflow-x:hidden;
    overflow-y:auto;
    
}

.sexyline {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}